@page
@model MvcBean.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>
<p>Your email has been successfully confirmed. You can now <a asp-page="/Account/Login">log in</a>.</p>
