@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h2>Reset Your Password</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Input.UserId" />
            <input type="hidden" asp-for="Input.Token" />

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder=" " />
                <label asp-for="Input.Password">New Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
</div>
